/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  background-color: rgb(88, 88, 88);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.g-4 {
  --bs-gutter-y: 0rem;
}

/* Button Styles */
.btn.btn-success {
  color: #198754;
  background-color: #000000;
  border-color: #198754;
}
.btn.btn-success:hover {
  color: #ffffff;
  background-color: #198754;
  outline: none;
  box-shadow: none;
}
.btn.btn-success.active,
.btn.btn-success:active {
  color: #fff;
  background-color: #323338;
  border-color: #000000;
  outline: none;
}
.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover {
  color: #fff;
  background-color: #e9f0e9;
  border-color: #000000;
  outline: none;
  box-shadow: none;
}
